.table {
  width: 1076px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 110px 529px 432px;
  grid-template-rows: repeat(11, 1fr);
  div {
    &:nth-child(n + 4) {
      border: 1px solid #e3e6ec;
    }
    &:nth-child(n + 1) {
      border-right: none;
    }

    &:nth-child(3n + 3) {
      border: 1px solid #e3e6ec;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
      border-right: none;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16),
    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21),
    &:nth-child(22),
    &:nth-child(23),
    &:nth-child(24),
    &:nth-child(25),
    &:nth-child(26),
    &:nth-child(27),
    &:nth-child(28),
    &:nth-child(29),
    &:nth-child(30) {
      border-bottom: none;
    }

    &:nth-child(3) {
      border-left: none;
    }
  }

  .thead {
    height: 50px;
    background: #474955;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    img {
      padding-left: 10px;
    }
  }
}
@media (max-width: 1200px) {
  .table {
    width: 900px;
    grid-template-columns: 95px 394px 411px;
  }
}
@media (max-width: 950px) {
  .table {
    width: 750px;
    grid-template-columns: 80px 319px 351px;
  }
}
@media (max-width: 743px) {
  .table {
    width: 550px;
    grid-template-columns: 60px 229px 261px;
  }
}
@media (max-width: 540px) {
  .table {
    width: 350px;
    grid-template-columns: 40px 149px 161px;
  }
}
